services:
  nginx:
    build:
      context: ./requirements/nginx
    ports:
      - 1443:1443
    volumes:
      - WordPress:/var/www/html
    env_file:
      - .env
    depends_on:
      - wordpress
    networks:
      - inception
    restart: unless-stopped
  
  wordpress:
    build:
      context: ./requirements/wordpress
    volumes:
      - WordPress:/var/www/html
    env_file:
      - .env
    depends_on:
      - mariadb
    networks:
      - inception
    restart: unless-stopped
    
  mariadb:
    build:
      context: ./requirements/mariadb
    volumes:
      - DB:/var/lib/mysql
    env_file:
      - .env
    networks:
      - inception
    restart: unless-stopped




volumes:
  WordPress:
    name: WordPress
  DB:
    name: DB

networks:
  inception:
    name: inception